* {
    margin: 0;
    padding: 0;
  }

body
{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;;
}
form
{
    
    margin-top: 170px;
    margin-bottom: 60px;
    margin-right: auto;
    margin-left:auto;
    width: 1088px;
    height: 5900px;  
    background-color: #555555;
    border-radius: 20px;
}


input
{
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}

#nome_do_paciente
{
    width: 536px;
    height: 38px;
}

#cpf
{
    width: 300px;
    height: 38px; 
    margin-right: 62px;  
}

#queixa_principal
{
    width: 904px;
    height: 88px;
}

#historico_da_doenca_atual
{
    width: 904px;
    height: 88px;
}

.section 
{
    flex-direction:column;
    padding: 20px;
    margin-left: 80px;
    margin-top: 30px;
}
.controla-grupo1
{
    display: inline-block;
    margin-top: 20px;
}

.section .controla-grupo 
{
    margin-top: 20px;
    float: right;
}

.controla-label
{
    display:block;
    margin-bottom: 3px;
}
  
/* trecho para o questionario de saude*/

.section2 .inputstxt
{
    width: 50px;
    height: 30px;
    text-align: center;
}

fieldset
{
    width: 904px;
    margin-left: 80px;
    margin-top: 40px;
    border: none;
}

legend
{
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

/* section2 centraliza o primeiro fieldset (questionario de saude)*/
.section2
{
    margin: 0;
    padding-top: 15px;
}


.questsaude-esq .section2
{
    background-color: #737373 ;
    width: 443px;
    border-radius: 20px;
    height: 439px;
    display: inline-block;
}

.questsaude-dir
{
    background-color: #737373 ;
    width: 443px;
    border-radius: 20px;
    height: 439px;
    float: right;
    
}


.linha
{
    padding: 16px;
}

.questsaude-dir .linha
{
    display: flex;
    justify-content: space-between;
}

.questsaude-esq .linha
{
    display: flex;
    justify-content: space-between;
}




#txt_diaria
{
    width: 146px;
    height: 38px;
    
}

/*trecho para o segundo fieldset (doenças familiares)*/

.doencas-familiares
{
    /*para editar o fieldset, repensar sobre valor negativo da margin-top*/
    background-color: #737373;
    border-radius: 20px;
    margin-top: -20px;
    height: 380px;
}

.section3
{
    margin: 0;    
}

.section3 .inputstxt
{
    width: 50px;
    height: 30px;
    text-align: center;
}


#doencas-familiares
{
    /*para editar o legend independentimente*/
    padding-top: 70px;
    padding-bottom: 15px;
    margin:0 auto;

    
}

.doencas-dir .linha
{
    display: flex;
    justify-content: space-between;
}

.doencas-esq .linha
{
    display: flex;
    justify-content: space-between;
}

.doencas-esq
{
    width: 443px;
    height: 327px;
    display: inline-block;
}

.doencas-dir
{
    width: 443px;
    height: 327px;
    float: right;
    
}


#txt_outra
{
    width: 234px;
    height: 38px;
}

/*trecho para o terceiro fieldset (complementar infantil - odontopediatra)*/


.section4 p
{
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;
}

.section4
{
    width: 534px;
    height: 720px;
    background-color: #737373;
    border-radius: 20px;
    margin-left: 22%;
}

.section4 .inputstxt
{
    width: 50px;
    height: 30px;
    text-align: center;
}

.section4 .linha
{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.legendf3
{
    padding-top: 30px;
    margin-bottom: 20px;
}
.section4 .linha
{
    padding-left: 40px;
}

#txt_gestacao
{
    width: 436px;
    height: 58px;
}

#parto
{
    padding-right: 40px;
}

#problema_parto
{
    padding-right: 180px;
}

#amamentacao
{
    padding-right: 105px;
}

#ate_idade
{
    padding-right: 120px;
}

#txt_ate_idade
{
    width: 221px;
    height: 38px;
}

#anest_local
{
    padding-right: 90px;
}

#contagiosa
{
    padding-right: 162px;
}

#vacinada
{
    padding-right: 67px;
}

/*trecho para o quarto fieldset (conduta da criança)*/

.section5
{
    width: 534px;
    height: 1645px;
    background-color: #737373;
    border-radius: 20px;
    margin-left: 22%;
    margin-top: 5px;
}

#lg_section5
{
    padding-top: 30px;
}

.section5 .inputstxt
{
    width: 160px;
    height: 38px;
    text-align: center;
}

.section5 .linha
{
    margin-left: 30px;
    margin-top: 12px;
}

.ckboxs
{
    display: inline-block;
    padding-right: 25px;
}


#aprendizado_nao
{
    margin-left: 50px;
}

#animico_assustado
{
    margin-top: 20px;
}

#txt_observacoes
{
    width: 420px;
    height: 58px;
}

/*trecho para o quinto fieldset */

.section6
{
    margin: 0;
    padding-top: 20px;
}

.section6 .inputstxt
{
    width: 60px;
    height: 30px;
    text-align: center;
}

.exafisico-esq .section6
{
    background-color: #737373 ;
    width: 443px;
    border-radius: 20px;
    height: 460px;
    display: inline-block;
}

.exafisico-dir
{
    background-color: #737373 ;
    width: 443px;
    border-radius: 20px;
    height: 460px;
    float: right;
    
}
 
.exafisico-esq .linha
{
    display: flex;
    justify-content: space-between;
}

.exafisico-dir .linha
{
    display: flex;
    justify-content: space-between;
}

/*trecho para o sexto fieldset*/

fieldset
{
    margin-top: 10px;
}
.section7
{
    background-color: #737373 ;
    width: 900px;
    border-radius: 20px;
    height: 1347px;     
}

.txtsf6
{
    width: 840px;
    height: 80px;
    
}

.txtsf6min
{
    height: 38px;
}

.section7 .linha
{
    margin-left: 1%;
}

.alinhar_pressoes
{
    display: inline-block;
}

.divmaxima
{
    padding-top:20px ;
}


.section7 .linha .f6ultlinha #medicacao_nao
{
    margin-left: 40px;
}

/* trecho para o botão enviar*/





/* trecho para o botoes de rodape*/

#btn_menu
{
    background-color:#F2B74A;;
    color: white;
    border: none;
    width: 167px;
    height: 40px;
    margin-left: 10%;
    
}

#btn_proximo
{
    background-color:#F2B74A;;
    color: white;
    border: none;
    width: 167px;
    height: 40px; 
}

.btn_proximo
{
    float: right;
    margin-right: 10%;
}

.btns_rodape{
    margin-top: -40px;
}